services:
  non-stabilizing-gossip-split-and-merge:
    image: angelacortecchia/experiments-coordination-self-stabilizing-gossip:${VERSION:-latest}-non-stabilizing
    build:
      context: .
      dockerfile: docker/sim/Dockerfile
    volumes:
      - angela.cortecchia-volume:/experiment/data
    environment:
      - MAX_SEED=31
      - GRADLE_TASK=runSplitAndMergeNonStabGossipBatch

  time-replicated-gossip-split-and-merge:
    image: angelacortecchia/experiments-coordination-self-stabilizing-gossip:${VERSION:-latest}-time-replicated
    build:
      context: .
      dockerfile: docker/sim/Dockerfile
    volumes:
      - angela.cortecchia-volume:/experiment/data
    environment:
      - MAX_SEED=31
      - GRADLE_TASK=runSplitAndMergeTimeRepGossipBatch

  self-stabilizing-gossip-split-and-merge:
    image: angelacortecchia/experiments-coordination-self-stabilizing-gossip:${VERSION:-latest}-self-stabilizing
    build:
      context: .
      dockerfile: docker/sim/Dockerfile
    volumes:
      - angela.cortecchia-volume:/experiment/data
    environment:
      - MAX_SEED=31
      - GRADLE_TASK=runSplitAndMergeSelfStabGossipBatch

volumes:
  angela.cortecchia-volume:
    external: true
